
/* Font Colors */

.FontGreen {
  color: green; 
}
.FontRed {
  color: red; 
}
.FontBlue {
    color: blue;
}

/* Datepickers and Timepickers */

.timepicker {
	background:#FFF !important;
}
.login-logo img{
	vertical-align: 
	border:0;
	max-width: 250px;
	width:90%;
	margin:0px;
}

header.main-header .logo img{
	width:47px !important;
}