/* .dataTables_wrapper */

.dataTables_wrapper tbody .btn-group {
	visibility: hidden;
}
.dataTables_wrapper tbody > tr[role="row"]:hover .btn-group{
	visibility: visible;
}
.dataTables_wrapper tbody > tr img.rounded {
	margin: 5px;
	border-radius: 25%;
}
.dataTables_wrapper i.fa {
	width: 22px;
	text-align: center;
	margin-right: 5px;
} 


[action="checkIn"],
[action="checkOut"] {
    display: none;
}
.CanCheckin [action="checkIn"],
.CanCheckout [action="checkOut"] {
    display: list-item
}

.navbar-nav select{
    width:140px;
    margin-right:3px;
}
