



/* .select2 */

.select2-container--default .select2-selection--single{
	border-color: transparent transparent #d2d6de transparent !important;
}
.select2-container .select2-selection__rendered {
	margin-top: -6px !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	color: #555 !important;
}
.input-group-sm .select2-selection__rendered {
	font-size: 11px !important;
}
.input-group-lg .select2-selection__rendered {
	font-size: 18px !important;
}


/* cmxform */

.disabled [action="save"] {
	display:none;
}
[role="dialog"] .input-group-addon {
    border: 0 !important;
}
[role="dialog"] .input-group-addon > i {
    cursor: pointer;
}
[role="dialog"] input,
[role="dialog"] select {
	border-top: 0 !important;
	border-left: 0 !important;
	border-right: 0 !important;
}
[role="dialog"] input[disabled],
[role="dialog"] select[disabled],
[role="dialog"] textarea[disabled] {
	background-color: transparent;
	border-top: 0 !important;
	border-left: 0 !important;
	border-right: 0 !important;
	border-bottom: 0 !important;
}
[disabled]::-moz-placeholder {
	color:transparent;
	opacity:0;
}
[disabled]:-ms-input-placeholder {
	color:transparent;
	opacity:0;
}
[disabled]::-webkit-input-placeholder {
	color:transparent;
	opacity:0;
}
select[disabled] {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}




form.cmxform label.error, label.error {
	color: red;
	font-size: 0.80em;
	font-style: italic
}
form div.error {
	display: none;
}





/* validation */
form .form-group .v-required::before {
    content: "\f069  ";
    color: #337ab7;
    font-size: 50%;
    vertical-align: top;
}
form.disabled .form-group .v-required::before {
    content: "";
    color: #337ab7;
    font-size: 50%;
    vertical-align: top;
}



/* Checkbox */

.Checkbox > span {
	cursor:pointer;
}
.Checkbox > span:hover {
	color: #337ab7;
	text-decoration: underline;
}
.Checkbox .Hide {
	display: none;
}



/* modal */
@media (min-width: 768px){
	.modal .modal-dialog.W1000 {
	width: 80% !important;
}

}


.modal {
	text-align: center;
}
.modal .upload img {
	cursor: pointer;
}

@media screen and (min-width: 768px) {
	.modal:before {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 100%;
	}
}
.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}
.modal .upload {
	border: 0;
}
.modal .upload > img{
	width: 140px;
	height: 140px;
	text-align: center;
	line-height: 140px;
	font-size: 100px;
	color: #D3D3D3;
}
.FilesHover .modal .upload > img{
	outline: none;
	box-shadow: 10px 10px 20px #337ab7;
	font-size: 120px;
}


/* .TempFiles */

.TempFiles > div {
	background-image: url(../img/bar.png);
 	background-repeat: repeat-y;
	border: 1px solid #dcdcdc;
	padding: 5px;
	color: #15c;
	font-weight: bold;
	margin-bottom: 5px;
}
.TempFiles > div > span {
	color: #777;
}
.TempFiles > div > i {
	float: right;
	color: gray;
	cursor: pointer;
	line-height: 20px;
}
.TempFiles > div > i:hover {
	color: black;
}





/* .SortableList
----------------------------------*/

.SortableList {
	padding-left: 15px !important;
}

/* .sortablePersons
----------------------------------*/

.sortablePersons {
	min-height: 100px;
	border: 0;
	list-style-type: none;
	padding: 0;
}
.sortablePersons > li {
	cursor: pointer;
	margin-top: 5px;
	margin-bottom: 5px;
}
.sortablePersons .panel {
	margin: 0;
	min-height: 60px;
	padding: 4px;
}
.sortablePersons .panel > div {
	float: left;
}
.sortablePersons .panel > .image {
	float: left;
	margin-right: 5px;
}
.sortablePersons div {
	text-align: center;
}


/* .sortableGroup
----------------------------------*/


.sortableGroup {
	min-height: 56px;
	border: 0;
	list-style-type: none;
	padding: 0;
}
.sortableGroup > li{
	cursor: pointer;
}
.sortableGroup .panel{
	margin: 0;
}
.sortableGroup .panel > .panel-heading {
	padding: 4px 15px;
}
.sortableGroup .fa{
	font-size: 18px;
	width: 18px;
	text-align: center;
	margin-right: 5px;
}

.sortableGroup > li {
	padding: 5px 0;
}
.sortableGroup div.panel.expand > ul {
	display	: block;
}
.accessModules div.panel.expand > .panel-heading > span:before {
	content: "\f0d7";
	color	: #000000;
}
.accessModules ul.list-group > .list-group-item > span:before {
	content: "\f05e";
	color	: red;
}
.sortableGroup ul.list-group > .list-group-item.check > span:before {
	content: "\f058";
	color	: green;
}
.sortableGroup div.panel > ul ,
.sortShelf div.panel.expand > ul {
	display: none
}
.sortShelf div.panel,
.sortShelf > .list-group-item {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.accessModules div.panel > .panel-heading > span:before {
	content	: "\f0da";
	color	: #000000;
}
.sortBasket.accessPermissions div.panel > .panel-heading > span:before {
	content	: "\f00c";
	color	: #000000;
}
.sortShelf.accessPermissions div.panel > .panel-heading > span:before {
	content	: "\f05e";
	color	: #000000;
}
.sortShelf.accessModules div.panel > .panel-heading > span:before,
.sortShelf.accessModules div.panel.expand > .panel-heading > span:before {
	content	: "\f023";
	color	: #000000;
}
